!!Extensions
URxvt.perl-ext-common: selection-to-clipboard,resize-font

!!Tab_managment
URxvt.tabbed.reopen-on-close: yes
!Tab_switch_keybinds
URxvt.keysym.Control-t: perl:tabbedex:new_tab
URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-Tab: perl:tabbed:prev_tab

!Cut_paste_keybinds
URxvt.clipboard.autocopy: true
URxvt.keysym.$mod-c: perl:clipboard:copy
URxvt.keysym.$mod-v: perl:clipboard:paste

!Font_keybinds
URxvt.keysym.C-Down: resize-font:smaller
URxvt.keysym.C-Up: resize-font:bigger


URxvt.font: xft:Monospace:size=12
!URxvt.font: 9x15 
URxvt.lineSpace: -1
URxvt.letterSpace: 0
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.saveLines: 3000
URxvt.urgentOnBell: true

!!Transparency
URxvt.transparent: 1
!!True
URxvt.depth: 32
URxvt.background: [90]#000000 
!!Native
URxvt*inhertPixmap: true
!Shading 0-99 darkens 101-200 lightens
URxvt*shading: 5 

!special
*.background:    #000000
*.foreground:    #ffffff
*.cursorColor:   #ababab

!Black
*.color0:    #2e3436 
*.color8:    #555753

!red
*.color1:    #a31604
*.color9:    #c60001

!green
*.color2:    #447241
*.color10:   #27a343

!yellow
*.color3:    #c1951a
*.color11:   #d5a30e

!blue
*.color4:    #425387
*.color12:   #4a5a8d

!magneta
*.color5:    #965d98
*.color13:   #893c8c

!blue
*.color6:    #06989a
*.color14:   #12bccb
