URxvt.font: xft:Monospace:size=10
!URxvt.font: 9x15 
URxvt.lineSpace: -1
URxvt.letterSpace: 0
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.saveLines: 3000
URxvt.urgentOnBell: true
!URxvt.transparent: true

!special
*.background:    #000000
*.foreground:    #ffffff
*.cursorColor:   #ababab

!Black
*.color0:    #2e3436 
*.color8:    #555753

!red
*.color1:    #a31604
*.color9:    #c60001

!green
*.color2:    #447241
*.color10:   #27a343

!yellow
*.color3:    #c1951a
*.color11:   #d5a30e

!blue
*.color4:    #425387
*.color12:   #4a5a8d

!magneta
*.color5:    #965d98
*.color13:   #893c8c

!blue
*.color6:    #06989a
*.color14:   #12bccb
